* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER  */

.header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__container-1 {
  height: 100px;
  width: 300px;
  background-color: #d3cdd7;
  border-radius: 10px;
  margin-right: 20px;
}

.header__container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 550px;
  background-color: #d3cdd7;
  border-radius: 10px;
}

.header__text {
  color: white;
}

/* FOOTER  */

.footer {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.footer__inner {
  display: flex;
  justify-content: flex-end;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 870px;
  background-color: #d3cdd7;
  border-radius: 10px;
}

.footer__text {
  color: white;
}

/* MAIN CONTENT  */

main {
  width: 75%;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: center;
  height: 300px;
}

.slider__track {
  width: 85%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 20px;
  animation: scroll 15s linear infinite;
}

.slider__track:hover {
  animation-play-state: paused;
}

.slider__text {
  width: 20%;
}

.slider__title {
  padding-bottom: 10px;
  color: dodgerblue;
}

.slider__subtitle {
  color: gray;
}

.slide {
  overflow: hidden;
  border-radius: 10px;
  height: 150px;
  width: max-content;
  perspective: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slide img:hover {
  transform: translateZ(25px);
  cursor: pointer;
  transition: 1s;
}

.slider__track::before,
.slider__track::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 5%;
  z-index: 1;
}

.slider__track::before {
  left: 0;
  top: 0;
}

.slider__track::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
